#products {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
  max-height: 100vh;
  overflow-y: scroll;
}

.products__button {
  border-radius: 4px;
  height: 44px;
  width: 326px;
  background-color: var(--primary-color);
  color: var(--white-color);
  align-self: start;
  margin-top: 88px;
  margin-left: 86px;
}

.products__table-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1248px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--background-color);
  padding: 20px 48px;
  height: 75%;
}
